.App {

}

.App-header {
  background-color: white;
  width: inherit;
  height: 0.8rem;
  padding: 20px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.listHeight {
  width: 20%;
  height: 4.5rem;
  vertical-align: top;
}

.listRight {
  width: 25%;
}

.starSize {
  font-size: 12px;
  vertical-align: middle;
}

.paddingMiddle {
  margin-top: 0.4rem;
}

.arrowSize {
  margin-top: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  vertical-align: middle;
}

.listBody {
  width: 60%;
  height: 4.5rem;
}

.arrow {
  font-size: 20px;
  vertical-align: bottom;
}

button {
  width: 100%;
  border: 0px;
      background-color: white;
}

.filterMenu {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.listMenu {
  padding-left: 30px;
  padding-right: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h5 {
  margin: 0;
}

h4 {
  margin: 0;
}

.gold {
  color: #AA8939;
}

.rotate {
  transform: rotate(90deg)
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
